<form
  id="add-nodes-form"
  enctype="application/x-www-form-urlencoded"
  method="post"
  action="{% url 'add_nodes' %}"
>
  {% csrf_token %}

  <h2>Add Nodes</h2>

  <fieldset>
    <!-- Top-level fields -->
    <legend>Node configuration:</legend>

    <!-- node -->
    <label for="node-add-nodes"
      >Node (Use only the name if is a default implementation or
      <i>project_name:node_implementation</i> if is a custom
      implementation):</label
    >
    <input
      type="text"
      id="node-add-nodes"
      name="node"
      value="{{ project_data.node }}"
    />

    <label for="num_nodes-add-nodes">Number of Nodes:</label>
    <input
      type="number"
      id="num_nodes-add-nodes"
      name="num_nodes"
      value="{{ project_data.num_nodes }}"
    />

    <label for="node_color">Color of nodes (hex):</label>
    <input
      type="text"
      id="node_color"
      name="node_color"
      value="{{ project_data.node_color }}"
    />

    <label for="node_size">Size of nodes (int):</label>
    <input
      type="number"
      id="node_size"
      name="node_size"
      value="{{ project_data.node_size }}"
    />
  </fieldset>

  <!-- distribution_model -->

  <!-- Nested fields for distribution model parameters -->
  <fieldset>
    <legend>Distribution Model Parameters:</legend>

    <label for="distribution_model-add-nodes">Distribution Model:</label>
    <input
      type="text"
      id="distribution_model-add-nodes"
      name="distribution_model"
      value="{{ project_data.distribution_model }}"
    />
    <label for="orientation-add-nodes">Orientation:</label>
    <input
      type="text"
      id="orientation-add-nodes"
      name="distribution_model_parameters[orientation]"
      value="{{ project_data.distribution_model_parameters.orientation }}"
    />

    <label for="line_position-add-nodes">Line Position:</label>
    <input
      type="number"
      id="line_position-add-nodes"
      name="distribution_model_parameters[line_position]"
      value="{{ project_data.distribution_model_parameters.line_position }}"
    />

    <label for="number_of_nodes-add-nodes"
      >Number of Nodes (expected to be equal to the number of nodes in the
      simulation, but may be different to obtain a semi-circle for
      example):</label
    >
    <input
      type="number"
      id="number_of_nodes-add-nodes"
      name="distribution_model_parameters[number_of_nodes]"
      value="{{ project_data.distribution_model_parameters.number_of_nodes }}"
    />

    <label for="midpoint-add-nodes">Midpoint:</label>
    <input
      type="text"
      id="midpoint-add-nodes"
      name="distribution_model_parameters[midpoint]"
      value="{{ project_data.distribution_model_parameters.midpoint|join:',' }}"
    />

    <label for="rotation_direction-add-nodes">Rotation Direction:</label>
    <input
      type="text"
      id="rotation_direction-add-nodes"
      name="distribution_model_parameters[rotation_direction]"
      value="{{ project_data.distribution_model_parameters.rotation_direction }}"
    />

    <label for="radius-add-nodes">Radius:</label>
    <input
      type="number"
      id="radius-add-nodes"
      name="distribution_model_parameters[radius]"
      value="{{ project_data.distribution_model_parameters.radius }}"
    />
  </fieldset>

  <!-- mobility_model -->

  <!-- mobility_model_parameters -->
  <fieldset>
    <legend>Mobility Model Parameters:</legend>

    <label for="mobility_model-add-nodes">Mobility Model:</label>
    <input
      type="text"
      id="mobility_model-add-nodes"
      name="mobility_model"
      value="{{ project_data.mobility_model }}"
    />
    <label for="speed_range-add-nodes">Speed Range:</label>
    <input
      type="text"
      id="speed_range-add-nodes"
      name="mobility_model_parameters[speed_range]"
      value="{{ project_data.mobility_model_parameters.speed_range|join:',' }}"
    />

    <label for="direction_range-add-nodes">Direction Range (radians):</label>
    <input
      type="text"
      id="direction_range-add-nodes"
      name="mobility_model_parameters[direction_range]"
      value="{{ project_data.mobility_model_parameters.direction_range|join:',' }}"
    />

    <label for="waiting_time_range">Waiting time Range (time steps):</label>
    <input
      type="text"
      id="waiting_time_range"
      name="mobility_model_parameters[waiting_time_range]"
      value="{{ project_data.mobility_model_parameters.waiting_time_range|join:',' }}"
    />

    <label for="move_time_range">Move Time Range (time steps):</label>
    <input
      type="text"
      id="move_time_range"
      name="mobility_model_parameters[move_time_range]"
      value="{{ project_data.mobility_model_parameters.move_time_range|join:',' }}"
    />

    <label for="prioritize_speed-add-nodes">Prioritize Speed:</label>

    <select
      id="prioritize_speed-add-nodes"
      name="mobility_model_parameters[prioritize_speed]"
    >
      <option
        value="true"
        {%
        if
        project_data.mobility_model_parameters.prioritize_speed
        %}selected{%
        endif
        %}
      >
        Yes
      </option>
      <option
        value="false"
        {%
        if
        not
        project_data.mobility_model_parameters.prioritize_speed
        %}selected{%
        endif
        %}
      >
        No
      </option>
    </select>

    <label for="travel_distance-add-nodes">Travel Distance:</label>
    <input
      type="number"
      id="travel_distance-add-nodes"
      name="mobility_model_parameters[travel_distance]"
      value="{{ project_data.mobility_model_parameters.travel_distance }}"
    />

    <label for="travel_time-add-nodes">Travel Time:</label>
    <input
      type="number"
      id="travel_time-add-nodes"
      name="mobility_model_parameters[travel_time]"
      value="{{ project_data.mobility_model_parameters.travel_time }}"
    />
  </fieldset>

  <!-- Connectivity Model -->

  <fieldset>
    <legend>Connectivity Model Parameters:</legend>
    <label for="connectivity_model-add-nodes">Connectivity Model:</label>
    <input
      type="text"
      id="connectivity_model-add-nodes"
      name="connectivity_model"
      value="{{ project_data.connectivity_model }}"
    />
    <label for="max_radius-add-nodes">Max Radius:</label>
    <input
      type="number"
      id="max_radius-add-nodes"
      name="connectivity_model_parameters[max_radius]"
      value="{{ project_data.connectivity_model_parameters.max_radius }}"
    />

    <label for="min_radius-add-nodes">Min Radius:</label>
    <input
      type="number"
      id="min_radius-add-nodes"
      name="connectivity_model_parameters[min_radius]"
      value="{{ project_data.connectivity_model_parameters.min_radius }}"
    />

    <label for="big_radius_probability-add-nodes"
      >Big Radius Probability:</label
    >
    <input
      type="number"
      step="0.01"
      id="big_radius_probability-add-nodes"
      name="connectivity_model_parameters[big_radius_probability]"
      value="{{ project_data.connectivity_model_parameters.big_radius_probability }}"
    />
  </fieldset>

  <!-- Reliability Model -->

  <fieldset>
    <legend>Reliability Model Parameters:</legend>
    <!-- Nenhum parâmetro fornecido, mas o espaço está reservado -->
    <label for="reliability_model-add-nodes">Reliability Model:</label>
    <input
      type="text"
      id="reliability_model-add-nodes"
      name="reliability_model"
      value="{{ project_data.reliability_model }}"
    />
  </fieldset>

  <fieldset>
    <legend>Interference Model Parameters:</legend>
    <!-- Interference Model -->
    <label for="interference_model-add-nodes">Interference Model:</label>
    <input
      type="text"
      id="interference_model-add-nodes"
      name="interference_model"
      value="{{ project_data.interference_model }}"
    />

    <label for="intensity-add-nodes">Intensity (%):</label>
    <input
      type="number"
      id="intensity-add-nodes"
      name="interference_model_parameters[intensity]"
      value="{{ project_data.interference_model_parameters.intensity }}"
    />
  </fieldset>

  <button type="submit">Submit</button>
  <span id="submitted-add-nodes" class="confirmation-check">✓</span>
</form>
