<form
  id="options-form"
  enctype="application/x-www-form-urlencoded"
  method="post"
  action="{% url 'update_config' %}"
>
  {% csrf_token %}

  <h2>Project Configuration</h2>

  <!-- Dropdown for projects -->
  <div>
    <label for="project">Select Project:</label>
    <select id="project" name="project" onchange="changeProject()">
      {% for project in projects %}
      <option value="{{ project }}">{{ project }}</option>
      {% endfor %}
    </select>
  </div>

  <!-- Project-specific fields -->
  <fieldset>
    <legend>Simulation Parameters:</legend>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="simulation_name">Simulation Name:</label>
        <input
          type="text"
          id="simulation_name"
          name="simulation_name"
          value="{{ project_data.simulation_name }}"
        />
      </div>
      <div>
        <label for="nack_messages_enabled">NACK Messages Enabled?:</label>
        <select name="nack_messages_enabled" id="nack_messages_enabled">
          <option value="true" {% if project_data.nack_messages_enabled %}selected{% endif %}>Yes</option>
          <option value="false" {% if not project_data.nack_messages_enabled %}selected{% endif %}>No</option>
        </select>
      </div>
      <div>
        <label for="asynchronous">Asynchronous Simulation?:</label>
        <select name="asynchronous" id="asynchronous">
          <option value="true" {% if project_data.asynchronous %}selected{% endif %}>Yes</option>
          <option value="false" {% if not project_data.asynchronous %}selected{% endif %}>No</option>
        </select>
      </div>
      <div>
        <label for="save_trace">Save Trace?:</label>
        <select name="save_trace" id="save_trace">
          <option value="true" {% if project_data.save_trace %}selected{% endif %}>Yes</option>
          <option value="false" {% if not project_data.save_trace %}selected{% endif %}>No</option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="dim_x">Dimension X (min, max):</label>
        <input
          type="text"
          id="dim_x"
          name="dim_x"
          step="0.000000000001"
          value="{{ project_data.dim_x|join:',' }}"
        />
      </div>
      <div>
        <label for="dim_y">Dimension Y (min, max):</label>
        <input
          type="text"
          id="dim_y"
          name="dim_y"
          step="0.000000000001"
          value="{{ project_data.dim_y|join:',' }}"
        />
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Message Transmission Model Parameters:</legend>
    <!-- Message Transmission Model -->
    <div>
      <div>
        <label for="message_transmission_model">Message Transmission Model:</label>
        <input
          type="text"
          id="message_transmission_model"
          name="message_transmission_model"
          value="{{ project_data.message_transmission_model }}"
        />
      </div>
    </div>
    <div class="grid grid-cols-3">
      <div>
        <label for="time">Constant Transmission Time:</label>
        <input
          type="number"
          id="time"
          name="message_transmission_model_parameters[time]"
          value="{{ project_data.message_transmission_model_parameters.time }}"
        />
      </div>
      <div>
        <label for="min_time">Random Transmission Min Time:</label>
        <input
          type="number"
          step="0.000000000001"
          id="min_time"
          name="message_transmission_model_parameters[min_time]"
          value="{{ project_data.message_transmission_model_parameters.min_time }}"
        />
      </div>
      <div>
        <label for="max_time">Random Transmission Max Time:</label>
        <input
          type="number"
          step="0.000000000001"
          id="max_time"
          name="message_transmission_model_parameters[max_time]"
          value="{{ project_data.message_transmission_model_parameters.max_time }}"
        />
      </div>
    </div>
  </fieldset>

  <button type="submit">Submit</button>
  <span id="submitted" class="confirmation-check">✓</span>
</form>
