{% extends "base.html" %} {% block head %}

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<style>
  .node circle {
    fill: #69b3a2;
    stroke: #000;
    stroke-width: 1.5px;
  }

  .link {
    fill: none;
    stroke: #222;
    stroke-opacity: 0.6;
    stroke-width: 2px;
  }

  text {
    font-size: 12px;
    font-family: sans-serif;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
  }

  form {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
  }

  legend {
    font-weight: bold;
    padding: 0 10px;
  }

  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  .info {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
  }

  .info:hover::after {
    content: attr(data-info);
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    transform: translate(-50%, -150%);
    z-index: 10;
    display: inline-block;
  }

  .button-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .summary {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
  }
</style>
<style>
  .node,
  .node-text {
    transition: cx 16ms linear, cy 16ms linear; /* Transição suave de 1 segundo */
  }

  #graph {
    width: 100vh;
    height: 100vh;
  }

  #runtime_container {
    display: flex;
    justify-content: center;
  }

  #runtime {
    display: flex;
    background-color: white;
    border-radius: 8px;
    padding: 20px 0px 0px 20px;
  }

  #runtime_panel {
    width: 500px;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .confirmation-check {
    animation: appear 0.3s;
  }
</style>

{% endblock head %} {% block title %} Graph Visualization {% endblock title %}
{% block header %}
<h1>Graph Visualization</h1>
{% endblock header %} {% block content %}

<form
  id="options-form"
  enctype="application/x-www-form-urlencoded"
  method="post"
  action="{% url 'update_config' %}"
>
  {% csrf_token %}

  <!-- Dropdown for projects -->
  <label for="project">Select Project:</label>
  <select id="project" name="project" onchange="changeProject()">
    {% for project in projects %}
    <option value="{{ project }}">{{ project }}</option>
    {% endfor %}
  </select>

  <fieldset>
    <!-- Top-level fields -->
    <label for="project_dir">PROJECT_DIR:</label>
    <input
      type="text"
      id="project_dir"
      name="PROJECT_DIR"
      value="{{ project_data.PROJECT_DIR }}"
    />

    <label for="simulation_name">Simulation Name:</label>
    <input
      type="text"
      id="simulation_name"
      name="simulation_name"
      value="{{ project_data.simulation_name }}"
    />

    <label for="num_nodes">Number of Nodes:</label>
    <input
      type="number"
      id="num_nodes"
      name="num_nodes"
      value="{{ project_data.num_nodes }}"
    />
  </fieldset>

  <fieldset>
    <label for="dimX">Dimension X:</label>
    <input
      type="number"
      id="dimX"
      name="dimX"
      value="{{ project_data.dimX }}"
    />

    <label for="dimY">Dimension Y:</label>
    <input
      type="number"
      id="dimY"
      name="dimY"
      value="{{ project_data.dimY }}"
    />

    <label for="dimZ">Dimension Z:</label>
    <input
      type="number"
      id="dimZ"
      name="dimZ"
      value="{{ project_data.dimZ }}"
    />
  </fieldset>

  <!-- Nested fields for network parameters -->
  <fieldset>
    <legend>Network Parameters:</legend>
    <label for="network_type">Type:</label>
    <input
      type="text"
      id="network_type"
      name="network_parameters[type]"
      value="{{ project_data.network_parameters.type }}"
    />

    <label for="avg_degree">Average Degree:</label>
    <input
      type="number"
      id="avg_degree"
      name="network_parameters[avg_degree]"
      value="{{ project_data.network_parameters.avg_degree }}"
    />
  </fieldset>

  <!-- node -->
  <label for="node">Node:</label>
  <input type="text" id="node" name="node" value="{{ project_data.node }}" />

  <!-- distribution_model -->

  <!-- Nested fields for distribution model parameters -->
  <fieldset>
    <legend>Distribution Model Parameters:</legend>

    <label for="distribution_model">Distribution Model:</label>
    <input
      type="text"
      id="distribution_model"
      name="distribution_model"
      value="{{ project_data.distribution_model }}"
    />
    <label for="orientation">Orientation:</label>
    <input
      type="text"
      id="orientation"
      name="distribution_model_parameters[orientation]"
      value="{{ project_data.distribution_model_parameters.orientation }}"
    />

    <label for="line_position">Line Position:</label>
    <input
      type="number"
      id="line_position"
      name="distribution_model_parameters[line_position]"
      value="{{ project_data.distribution_model_parameters.line_position }}"
    />

    <label for="number_of_nodes">Number of Nodes:</label>
    <input
      type="number"
      id="number_of_nodes"
      name="distribution_model_parameters[number_of_nodes]"
      value="{{ project_data.distribution_model_parameters.number_of_nodes }}"
    />

    <label for="midpoint">Midpoint:</label>
    <input
      type="text"
      id="midpoint"
      name="distribution_model_parameters[midpoint]"
      value="{{ project_data.distribution_model_parameters.midpoint|join:',' }}"
    />

    <label for="rotation_direction">Rotation Direction:</label>
    <input
      type="text"
      id="rotation_direction"
      name="distribution_model_parameters[rotation_direction]"
      value="{{ project_data.distribution_model_parameters.rotation_direction }}"
    />

    <label for="radius">Radius:</label>
    <input
      type="number"
      id="radius"
      name="distribution_model_parameters[radius]"
      value="{{ project_data.distribution_model_parameters.radius }}"
    />
  </fieldset>

  <!-- mobility_model -->

  <!-- mobility_model_parameters -->
  <fieldset>
    <legend>Mobility Model Parameters:</legend>

    <label for="mobility_model">Mobility Model:</label>
    <input
      type="text"
      id="mobility_model"
      name="mobility_model"
      value="{{ project_data.mobility_model }}"
    />
    <label for="speed_range">Speed Range:</label>
    <input
      type="text"
      id="speed_range"
      name="mobility_model_parameters[speed_range]"
      value="{{ project_data.mobility_model_parameters.speed_range|join:',' }}"
    />

    <label for="direction_range">Direction Range:</label>
    <input
      type="text"
      id="direction_range"
      name="mobility_model_parameters[direction_range]"
      value="{{ project_data.mobility_model_parameters.direction_range|join:',' }}"
    />

    <label for="prioritize_speed">Prioritize Speed:</label>

    <select
      id="prioritize_speed"
      name="mobility_model_parameters[prioritize_speed]"
    >
      <option
        value="true"
        {%
        if
        project_data.mobility_model_parameters.prioritize_speed
        %}selected{%
        endif
        %}
      >
        Sim
      </option>
      <option
        value="false"
        {%
        if
        not
        project_data.mobility_model_parameters.prioritize_speed
        %}selected{%
        endif
        %}
      >
        Não
      </option>
    </select>

    <label for="travel_distance">Travel Distance:</label>
    <input
      type="number"
      id="travel_distance"
      name="mobility_model_parameters[travel_distance]"
      value="{{ project_data.mobility_model_parameters.travel_distance }}"
    />

    <label for="travel_time">Travel Time:</label>
    <input
      type="number"
      id="travel_time"
      name="mobility_model_parameters[travel_time]"
      value="{{ project_data.mobility_model_parameters.travel_time }}"
    />
  </fieldset>

  <!-- Connectivity Model -->

  <fieldset>
    <legend>Connectivity Model Parameters:</legend>
    <label for="connectivity_model">Connectivity Model:</label>
    <input
      type="text"
      id="connectivity_model"
      name="connectivity_model"
      value="{{ project_data.connectivity_model }}"
    />
    <label for="max_radius">Max Radius:</label>
    <input
      type="number"
      id="max_radius"
      name="connectivity_model_parameters[max_radius]"
      value="{{ project_data.connectivity_model_parameters.max_radius }}"
    />

    <label for="min_radius">Min Radius:</label>
    <input
      type="number"
      id="min_radius"
      name="connectivity_model_parameters[min_radius]"
      value="{{ project_data.connectivity_model_parameters.min_radius }}"
    />

    <label for="big_radius_probability">Big Radius Probability:</label>
    <input
      type="number"
      step="0.01"
      id="big_radius_probability"
      name="connectivity_model_parameters[big_radius_probability]"
      value="{{ project_data.connectivity_model_parameters.big_radius_probability }}"
    />
  </fieldset>

  <!-- Reliability Model -->

  <fieldset>
    <legend>Reliability Model Parameters:</legend>
    <!-- Nenhum parâmetro fornecido, mas o espaço está reservado -->
    <label for="reliability_model">Reliability Model:</label>
    <input
      type="text"
      id="reliability_model"
      name="reliability_model"
      value="{{ project_data.reliability_model }}"
    />
  </fieldset>

  <fieldset>
    <legend>Interference Model Parameters:</legend>
    <!-- Interference Model -->
    <label for="interference_model">Interference Model:</label>
    <input
      type="text"
      id="interference_model"
      name="interference_model"
      value="{{ project_data.interference_model }}"
    />
  </fieldset>

  <fieldset>
    <legend>Message Transmission Model Parameters:</legend>
    <!-- Message Transmission Model -->
    <label for="message_transmission_model">Message Transmission Model:</label>
    <input
      type="text"
      id="message_transmission_model"
      name="message_transmission_model"
      value="{{ project_data.message_transmission_model }}"
    />
    <label for="constant_transmission_time">Constant Transmission Time:</label>
    <input
      type="number"
      id="constant_transmission_time"
      name="message_transmission_model_parameters[constant_transmission_time]"
      value="{{ project_data.message_transmission_model_parameters.constant_transmission_time }}"
    />

    <label for="random_transmission_min_time"
      >Random Transmission Min Time:</label
    >
    <input
      type="number"
      id="random_transmission_min_time"
      name="message_transmission_model_parameters[random_transmission_min_time]"
      value="{{ project_data.message_transmission_model_parameters.random_transmission_min_time }}"
    />

    <label for="random_transmission_max_time"
      >Random Transmission Max Time:</label
    >
    <input
      type="number"
      id="random_transmission_max_time"
      name="message_transmission_model_parameters[random_transmission_max_time]"
      value="{{ project_data.message_transmission_model_parameters.random_transmission_max_time }}"
    />
  </fieldset>

  <button type="submit">Submit</button>
  <span id="submitted" class="confirmation-check">✓</span>
</form>

<div id="runtime_container">
  <div id="runtime">
    <div id="runtime_panel">
      <button onClick="initSimulation()">Inicializar</button>
      <span id="initialized" class="confirmation-check">✓</span>

      <label for="simulation_rounds">Rodadas</label>
      <input
        type="number"
        id="simulation_rounds"
        name="simulation_rounds"
        value="{{ project_data.simulation_rounds }}"
        placeholder="Rodadas"
      />

      <label for="simulation_refresh_rate"
        >Taxa de atualização (Rodadas por segundo) (0 para não haver
        limitação)</label
      >
      <input
        type="number"
        id="simulation_refresh_rate"
        name="simulation_refresh_rate"
        value="{{ project_data.simulation_refresh_rate }}"
        placeholder="Taxa de atualização"
      />

      <select
        id="GUI_refresh_rate"
        name="GUI_refresh_rate"
        onchange="changeGUIRefreshRate()"
      >
        <option value="1">1 fps</option>
        <option value="2">2 fps</option>
        <option value="5">5 fps</option>
        <option value="10">10 fps</option>
        <option value="24">24 fps</option>
        <option value="30">30 fps</option>
        <option value="50">50 fps</option>
        <option selected value="60">60 fps</option>
        <option value="75">75 fps</option>
        <option value="100">100 fps</option>
        <option value="120">120 fps</option>
        <option value="144">144 fps</option>
        <option value="200">200 fps</option>
      </select>

      <button onClick="runSimulation()">Rodar</button>
      <button onClick="stopSimulation()">Parar</button>
      <button onMouseDown="showArrows()" onMouseUp="hideArrows()">
        Mostrar setas
      </button>
      <button onMouseDown="showNodesIds()" onMouseUp="hideNodesIds()">
        Mostrar IDs
      </button>
      <div>Time: <span id="time"></span></div>
      <div>
        Mensagens nesta rodada: <span id="numberOfMessagesInThisRound"></span>
      </div>
      <div>
        Total de mensagens enviadas: <span id="numberOfMessagesOverAll"></span>
      </div>
    </div>

    <div id="graph"></div>
  </div>
</div>
<script>
  let running = false;
  let interval_update = null;
  let arrows = false;
  let showIds = false;

  async function renderGraph(
    nodes,
    links,
    round,
    numberOfMessagesInThisRound,
    numberOfMessagesOverAll
  ) {
    running = true;

    // Cria os dados para o scatter plot (nós)
    const nodeScatter = {
      x: nodes.map((node) => node.x),
      y: nodes.map((node) => node.y),
      text: nodes.map((node) => node.id),
      mode: showIds ? "markers+text" : "markers",
      marker: { size: 5, color: "blue", symbol: "circle" },
      type: "scatter",
    };

    // Obtém os limites do retângulo
    const dimX = Number(document.querySelector("#dimX").value);
    const dimY = Number(document.querySelector("#dimY").value);

    // Cria as bordas do retângulo
    const boundaryShapes = [
      {
        type: "line",
        x0: 0,
        y0: 0,
        x1: dimX,
        y1: 0,
        line: { color: "black", width: 1 },
      },
      {
        type: "line",
        x0: dimX,
        y0: 0,
        x1: dimX,
        y1: dimY,
        line: { color: "black", width: 1 },
      },
      {
        type: "line",
        x0: dimX,
        y0: dimY,
        x1: 0,
        y1: dimY,
        line: { color: "black", width: 1 },
      },
      {
        type: "line",
        x0: 0,
        y0: dimY,
        x1: 0,
        y1: 0,
        line: { color: "black", width: 1 },
      },
    ];

    // Obtém o estado atual do gráfico (eixos)
    const currentGraph = document.getElementById("graph");
    const currentLayout = currentGraph.layout ?? {
      xaxis: {
        range: [dimX * -0.1, dimX * 1.1],
        zeroline: false,
      },
      yaxis: {
        range: [dimY * -0.1, dimY * 1.1],
        zeroline: false,
      },
    };

    // Configurações do layout
    const layout = {
      xaxis: {
        range: currentLayout.xaxis.range,
        zeroline: false,
      },
      yaxis: {
        range: currentLayout.yaxis.range,
        zeroline: false,
      },
      shapes: [
        ...createEdgeShapes(
          nodes,
          links,
          numberOfMessagesInThisRound,
          currentLayout
        ),
        ...boundaryShapes,
      ], // Adiciona bordas e arestas
      showlegend: false,
    };

    const graph = document.getElementById("graph");

    // Renderiza o gráfico
    Plotly.react(graph, [nodeScatter], layout);

    document.getElementById("time").innerText = round;
    document.getElementById("numberOfMessagesInThisRound").innerText =
      numberOfMessagesInThisRound;
    document.getElementById("numberOfMessagesOverAll").innerText =
      numberOfMessagesOverAll;
    running = false;
  }

  // Função para criar as arestas como shapes (linhas com setas)
  function createEdgeShapes(
    nodes,
    links,
    numberOfMessagesInThisRound,
    currentLayout
  ) {
    const shapes = [];
    const arrowDegrees = Math.PI / 12;
    if (!currentLayout) return shapes;

    links.forEach((link, index) => {
      const sourceNode = nodes.find((node) => node.id === link.source);
      const targetNode = nodes.find((node) => node.id === link.target);

      if (sourceNode && targetNode) {
        shapes.push({
          type: "line",
          x0: sourceNode.x,
          y0: sourceNode.y,
          x1: targetNode.x,
          y1: targetNode.y,
          line: {
            color: "#0000003a",
            width: 1,
          },
        });

        // Adiciona uma seta
        if (arrows) {
          const arrowSize =
            Math.min(
              Math.abs(
                currentLayout.xaxis.range[1] - currentLayout.xaxis.range[0]
              ),
              Math.abs(
                currentLayout.yaxis.range[1] - currentLayout.yaxis.range[0]
              ),
              Math.abs(
                Math.sqrt(
                  Math.pow(targetNode.x - sourceNode.x, 2) +
                    Math.pow(targetNode.y - sourceNode.y, 2)
                )
              ) * 10
            ) * 0.02;

          let angle = Math.atan2(
            targetNode.y - sourceNode.y,
            targetNode.x - sourceNode.x
          );
          shapes.push({
            type: "path",
            path: `M ${
              targetNode.x - arrowSize * Math.cos(angle - arrowDegrees)
            } ${targetNode.y - arrowSize * Math.sin(angle - arrowDegrees)}
              L ${targetNode.x - arrowSize * Math.cos(angle + arrowDegrees)} ${
              targetNode.y - arrowSize * Math.sin(angle + arrowDegrees)
            }
              L ${targetNode.x} ${targetNode.y}
              Z`,
            fillcolor: "#813131",
            line: {
              color: "#813131",
            },
          });
          if (link.bidirectional) {
            angle = angle + Math.PI;
            shapes.push({
              type: "path",
              path: `M ${
                sourceNode.x - arrowSize * Math.cos(angle - arrowDegrees)
              } ${sourceNode.y - arrowSize * Math.sin(angle - arrowDegrees)}
              L ${sourceNode.x} ${sourceNode.y}
              L ${sourceNode.x - arrowSize * Math.cos(angle + arrowDegrees)} ${
                sourceNode.y - arrowSize * Math.sin(angle + arrowDegrees)
              }
              Z`,
              fillcolor: "#813131",
              line: {
                color: "#813131",
              },
            });
          }
        }
      }
    });

    return shapes;
  }

  /*async function renderGraph(nodes, links, round, numberOfMessagesInThisRound,
    numberOfMessagesOverAll) {
    const svgns = "http://www.w3.org/2000/svg";
    const graph_svg = document.getElementById("graph_svg");

    const nodes_circles = nodes.map((node) => {
      const node_circle =
        graph_svg.getElementById("node-" + node.id) ||
        document.createElementNS(svgns, "circle");

      node_circle.setAttributeNS(null, "id", "node-" + node.id);
      node_circle.setAttributeNS(null, "class", "node");
      node_circle.setAttributeNS(null, "cx", node.x);
      node_circle.setAttributeNS(null, "cy", node.y);
      node_circle.setAttributeNS(null, "r", 20);
      node_circle.setAttributeNS(null, "fill", "blue");
      graph_svg.getElementById("node-" + node.id) ||
        graph_svg.append(node_circle);

      return node_circle;
    });

    old_drawed_link_lines = graph_svg.getElementsByClassName("link");

    for (const link_line of old_drawed_link_lines) {
      graph_svg.removeChild(link_line);
    }

    const link_lines = links.map((link) => {
      const link_line =
        graph_svg.getElementById("link-" + link.source + "-" + link.target) ||
        document.createElementNS(svgns, "line");

      source_node = nodes.find((node) => node.id === link.source);
      target_node = nodes.find((node) => node.id === link.target);

      link_line.setAttributeNS(
        null,
        "id",
        "link-" + link.source + "-" + link.target
      );
      link_line.setAttributeNS(null, "class", "link");
      link_line.setAttributeNS(null, "x1", source_node.x);
      link_line.setAttributeNS(null, "x2", target_node.x);
      link_line.setAttributeNS(null, "y1", source_node.y);
      link_line.setAttributeNS(null, "y2", target_node.y);
      link_line.setAttributeNS(null, "stroke-width", "10");
      link_line.setAttributeNS(null, "stroke", "black");

      graph_svg.getElementById("link-" + link.source + "-" + link.target) ||
        graph_svg.append(link_line);

      return link_line;
    });

    document.getElementById("time").innerText = round;
    document.getElementById("numberOfMessagesInThisRound").innerText =
      numberOfMessagesInThisRound;
    document.getElementById("numberOfMessagesOverAll").innerText =
      numberOfMessagesOverAll;
  }*/

  function wavelengthToRGB(wavelength) {
    /**
     * Convert a wavelength in nanometers to an approximate RGB color.
     */
    const gamma = 0.8;
    const intensityMax = 255;
    let factor = 0.0;
    let R = 0,
      G = 0,
      B = 0;

    if (wavelength >= 380 && wavelength < 440) {
      R = -(wavelength - 440) / (440 - 380);
      G = 0.0;
      B = 1.0;
    } else if (wavelength >= 440 && wavelength < 490) {
      R = 0.0;
      G = (wavelength - 440) / (490 - 440);
      B = 1.0;
    } else if (wavelength >= 490 && wavelength < 510) {
      R = 0.0;
      G = 1.0;
      B = -(wavelength - 510) / (510 - 490);
    } else if (wavelength >= 510 && wavelength < 580) {
      R = (wavelength - 510) / (580 - 510);
      G = 1.0;
      B = 0.0;
    } else if (wavelength >= 580 && wavelength < 645) {
      R = 1.0;
      G = -(wavelength - 645) / (645 - 580);
      B = 0.0;
    } else if (wavelength >= 645 && wavelength <= 750) {
      R = 1.0;
      G = 0.0;
      B = 0.0;
    } else {
      R = G = B = 0.0; // Wavelength outside visible range
    }

    // Adjust intensity
    if (wavelength >= 380 && wavelength < 420) {
      factor = 0.3 + (0.7 * (wavelength - 380)) / (420 - 380);
    } else if (wavelength >= 645 && wavelength <= 750) {
      factor = 0.3 + (0.7 * (750 - wavelength)) / (750 - 645);
    } else {
      factor = 1.0;
    }

    R = Math.round(intensityMax * Math.pow(R * factor, gamma));
    G = Math.round(intensityMax * Math.pow(G * factor, gamma));
    B = Math.round(intensityMax * Math.pow(B * factor, gamma));

    return [R, G, B];
  }

  function mapNumberToColor(value, minValue, maxValue) {
    // Normalize value to 0–1
    const normalized = (value - minValue) / (maxValue - minValue);
    // Map to wavelength
    const wavelength = 380 + normalized * (750 - 380);
    // Convert wavelength to RGB
    console.log(
      value,
      minValue,
      maxValue,
      wavelength,
      wavelengthToRGB(wavelength)
    );
    return wavelengthToRGB(wavelength)
      .map((c) => c.toString(16).padStart(2, "0"))
      .join("");
  }

  let chamadasHTTP = 0;
  let currentRound = -1;
  function getUpdatedGraph() {
    chamadasHTTP++;
    $.ajax({
      url: "update_graph/",
      type: "GET",
      success: function (data) {
        chamadasHTTP--;
        if (!data.n || !data.l) return clearInterval(interval_update);
        if (!data.r) clearInterval(interval_update);
        if (data.t < currentRound) return;

        if (!running) {
          running = true;

          let lastts = Date.now();
          currentRound = data.t;
          renderGraph(
            data.n.map(([id, x, y]) => ({ id, x, y })),
            data.l.map(([source, target, bidirectional]) => ({
              source,
              target,
              bidirectional,
            })),
            data.t,
            data.msg_r,
            data.msg_a
          );
          console.log("Tempo gasto pra renderizar", Date.now() - lastts, "ms");

          running = false;
        } else console.warn(running);
      },
    });
  }

  function intervalUpdate() {
    if (interval_update) clearInterval(interval_update);

    interval_update = setInterval(() => {
      if (chamadasHTTP < 2) getUpdatedGraph();
    }, 1000 / getSelectedGUIRefreshRate());
  }

  function showArrows() {
    arrows = true;
    getUpdatedGraph();
  }

  function hideArrows() {
    arrows = false;
    getUpdatedGraph();
  }

  function showNodesIds() {
    showIds = true;
    getUpdatedGraph();
  }

  function hideNodesIds() {
    showIds = false;
    getUpdatedGraph();
  }

  async function onReady() {
    intervalUpdate();

    $.ajax({
      url: "projects_names/",
      type: "GET",
      success: function (data) {},
      error: function (xhr, status, error) {
        console.error(error);
      },
    });

    initForm();

    // Adicionar evento de clique com botão direito
    const plotElement = document.getElementById("graph");
    plotElement.addEventListener("contextmenu", function (event) {
      // Prevenir o menu padrão do botão direito
      event.preventDefault();

      // Usar plotly_click para identificar o ponto
      plotElement.on("plotly_relayout", function (data) {
        console.log(data);
        if (data.points.length > 0) {
          const point = data.points[0];
          const x = point.x;
          const y = point.y;

          alert(`Você clicou com o botão direito no ponto: (x=${x}, y=${y})`);
        }
      });
    });

    $(".confirmation-check").hide();
  }

  function getSelectedProject() {
    const select = document.querySelector("#project");
    const option = select.children[select.selectedIndex];

    return option.textContent;
  }

  function getSelectedGUIRefreshRate() {
    const select = document.querySelector("#GUI_refresh_rate");
    const option = select.children[select.selectedIndex];

    return Number(option.value);
  }

  function initForm() {
    const project = getSelectedProject();

    $.ajax({
      url: "get_config/?project=" + project,
      type: "GET",
      success: function (data) {
        console.log(data);
        populateForm(data);
      },
      error: function (xhr, status, error) {
        console.error(error);
      },
    });
  }

  $(document).ready(onReady);

  function initSimulation() {
    $.ajax({
      url: "init_simulation/?project=" + getSelectedProject(),
      type: "GET",
      success: function () {
        $("#initialized").show();
        setTimeout(() => {
          $("#initialized").hide();
        }, 2000);
        currentRound = -1;
        getUpdatedGraph();
      },
      error: function (xhr, status, error) {
        alert("Erro");
        console.error(error);
      },
    });
  }

  function runSimulation() {
    const rounds = document.querySelector("#simulation_rounds").value;
    let refreshRate = document.querySelector("#simulation_refresh_rate").value;

    if (!rounds) return alert('Preencha o campo "rodadas"');

    if (!refreshRate) refreshRate = 0;

    $.ajax({
      url: "run_simulation/?rounds=" + rounds + "&refresh_rate=" + refreshRate,
      type: "GET",
      success: function () {
        intervalUpdate();
      },
      error: function (xhr, status, error) {
        console.error(error);
      },
    });
  }

  function stopSimulation() {
    $.ajax({
      url: "stop_simulation/",
      type: "GET",
      success: function () {},
      error: function (xhr, status, error) {
        console.error(error);
      },
    });
  }

  function changeProject(e) {
    initForm();
  }

  function changeGUIRefreshRate(e) {
    intervalUpdate();
  }

  // Função que será executada quando o formulário for submetido
  document
    .getElementById("options-form")
    .addEventListener("submit", function (event) {
      // Impede o envio do formulário para poder processar os dados com JS
      event.preventDefault();

      // Serializa os dados do formulário
      const formData = $(this).serialize();

      $.ajax({
        url: $(this).attr("action"), // URL definida no atributo 'action' do formulário
        type: "POST", // Método HTTP
        data: formData, // Dados do formulário
        headers: {
          "X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').val(), // Adiciona o CSRF token
        },
        success: function (response) {
          $("#submitted").show();
          setTimeout(() => {
            $("#submitted").hide();
          }, 2000);
        },
        error: function (xhr, status, error) {
          console.error("Erro ao enviar o formulário:", error);
          alert("Erro ao enviar o formulário.");
        },
      });
    });

  /**
   * Preenche o formulário com os valores do arquivo JSON.
   * @param {Object} jsonData - Dados do JSON a serem aplicados ao formulário.
   */
  function populateForm(jsonData) {
    const form = document.getElementById("options-form");

    Object.entries(jsonData).forEach(([key, value]) => {
      // Verifica se o valor é um objeto aninhado
      if (
        typeof value === "object" &&
        !Array.isArray(value) &&
        value !== null
      ) {
        Object.entries(value).forEach(([subKey, subValue]) => {
          const field = form.querySelector(`[name="${key}[${subKey}]"]`);
          if (field) {
            setFieldValue(field, subValue);
          }
        });
      } else {
        // Atualiza valores simples
        const field = form.querySelector(`[name="${key}"]`);
        if (field) {
          setFieldValue(field, value);
        }
      }
    });

    const field = document.querySelector(`[name="simulation_rounds"]`);

    setFieldValue(field, jsonData.simulation_rounds);
  }

  /**
   * Define o valor de um campo do formulário com base no tipo do campo.
   * @param {HTMLElement} field - Campo do formulário.
   * @param {any} value - Valor a ser aplicado ao campo.
   */
  function setFieldValue(field, value) {
    if (field.type === "checkbox") {
      field.checked = Boolean(value);
    } else if (field.type === "radio") {
      const radio = document.querySelector(
        `[name="${field.name}"][value="${value}"]`
      );
      if (radio) radio.checked = true;
    } else {
      field.value = value;
    }
  }
</script>

<script></script>

{% endblock content %}
