{% load static %}

<div class="networkx-algorithms">
  <h3>NetworkX algorithms</h3>
  <div class="algorithm-div">
    <input
      type="number"
      placeholder="Node ID"
      name="degree-algorithm-node"
      id="degree-algorithm-node"
    />
    <button
      title="Degree centrality is a measure of how many connections (edges) a node has."
      type="button"
      class="white-button"
      onclick="calculateDegree()"
    >
      Degree
      <img
        src="{% static 'mobsinet/images/networkx-logo.svg' %}"
        alt="NetworkX logo"
      />
    </button>
    <input
      type="text"
      class="algorithhm-output"
      disabled
      id="degree-result"
      name="degree-result"
    />
  </div>
  <div class="algorithm-div">
    <button
      title="Returns the diameter of the graph, which is the greatest distance between any pair of nodes in the graph. The distance is not based on the scenario, but on the number of edges."
      type="button"
      class="white-button"
      onclick="calculateDiameter()"
    >
      Diameter
      <img
        src="{% static 'mobsinet/images/networkx-logo.svg' %}"
        alt="NetworkX logo"
      />
    </button>
    <input
      type="text"
      class="algorithhm-output"
      disabled
      id="diameter-result"
      name="diameter-result"
    />
  </div>
  <div class="algorithm-div">
    <input
      type="number"
      placeholder="Node ID"
      name="eccentricity-algorithm-node"
      id="eccentricity-algorithm-node"
    />
    <button
      title="Returns the eccentricity of each node. The eccentricity of a node is the maximum distance from that node to any other node in the graph."
      type="button"
      class="white-button"
      onclick="calculateEccentricity()"
    >
      Eccentricity
      <img
        src="{% static 'mobsinet/images/networkx-logo.svg' %}"
        alt="NetworkX logo"
      />
    </button>
    <input
      type="text"
      class="algorithhm-output"
      disabled
      id="eccentricity-result"
      name="eccentricity-result"
    />
  </div>
</div>
