<!-- app_name/templates/geeks.html  -->

<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Homepage</title> 
</head> 
<body> 
    <h1>Welcome.</h1> 
    <p> {{  data }}</p>

    <ul>
        <li><a href="mobnet/">mobnet</a></li>
        <li><a href="mobgen/">mobgen</a></li>
        <li><a href="mobmetric/">mobmetric</a></li>
    </ul>

</body> 
</html> 